@font-face {
  font-family: geist;
  src: url('./fonts/GeistVF.woff2');
}

.pl-form h1 {
  font-family: geist;
  font-weight: bold;
  font-size: 35px;
}

.pl-form h1, .pl-form form input, .pl-form form table tbody tr th {
  font-family: geist;
} 

.form-table tbody tr td textarea {
  border: 1px solid #8c8f94;
}

.pl-logo {
  width: 150px;
}